<?xml version='1.0' encoding='utf-8'?>
<widget id="com.anavi.webstorage" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WebStorage</name>
    <description>
        A sample Apache Cordova application with local and session storage.
    </description>
    <author email="leon@anavi.org" href="http://cordova.io">
        Leon Anavi
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
