<?xml version='1.0' encoding='utf-8'?>
<widget id="com.anavi.webSQL" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WebSQL</name>
    <description>
        A sample Apache Cordova application with WebSQL
    </description>
    <author email="leon@anavi.org" href="http://cordova.io">
        Leon Anavi
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
